@font-face {
  font-family: 'Satisfy';
  src: url(./Fonts/Satisfy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VarelaRound';
  src: url(./Fonts/VarelaRound-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #E4FF1A;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'VarelaRound' , sans-serif;
}
/*---------------------Header--------------------------*/
header{
  background-color:  #1BE7FF;;
  display: flex;
  justify-content: center;
}
header h1{
  margin: 0;
  font-family: 'Satisfy';
  font-size: 64px;
  color: #FF5714;
}
/*---------------------Main--------------------------*/
main{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items:center;
}

main .recipesLinks{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

main .recipesLinks li{
  background-color: #FFB800;
  border-radius: 20px;
  width: 350px;
  display: flex;

}
main .recipesLinks li a{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 23px;
}
main .recipesLinks li a p{
  word-wrap: normal;
}
main .recipesLinks li a img{
  width: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*---------------------Footer--------------------------*/
footer{
  background-color: #6EEB83;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a{
  text-decoration: none;
  font-size: 18px;
  color: #E4FF1A;
}